{% extends 'base.html' %}
{% block 'content' %}
    <div class="jumbotron">
        {% for figura in figuras %}
            <div class="row">
                <div class="col-sm-6">
                    <figure class="figure">
                        <img src="{{ figura.imagem }}"
                             class="figure-img img-fluid rounded" alt="..." width="600" height="400">
                    </figure>
                </div>
                <div class="col-sm-6">
                    <p class="text-primary">{{ figura.rotulo }}</p>
                    <p>{{ figura.legenda }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock 'content' %}
